.AvatarPage{
    .AvatarVisual{
        display: flex;
        flex-direction: column;
        align-items: center;

        .Avatar2D{
            .AvatarSVG{
                width: 40px;
                overflow: visible;
                height: 45em;
            }

        }
    }
}