.AvatarPage{
    transform: translate(0,5em);
    height:  70em;
    .AvatarVisual{
        display: flex;
        flex-direction: column;
        align-items: center;

        .AvatarMan{
            flex-direction: column;
            
            .AvatarManType{
                
                overflow: visible;

                >div{
                    overflow: visible;
                    .type{
                        overflow: visible;

                    }
                }
            }
        }


    }


}