@font-face{
    font-family: Simplifica;
    src: url("../fonts/SIMPLIFICA\ Typeface.ttf");
}

@font-face{
  font-family: BebasNeueBold;
  src: url("../fonts/BebasNeue-Bold.ttf");
}


$main1: #F5F5F5;
$main2: #D8D8D8;
$front: #EBB2B3;
$back: #9F5F6F;
