.HomeLeft{
    background-color: $main1;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .HomeLeftHeader{
        cursor: pointer;
        text-align: center;
        color: $front;
        font-family: BebasNeueBold;
        font-size: 5em;
    }
}

.HomeLeft:hover{
    .HomeLeftHeader{
        background-color: $back;
    }
}